<div id="table pagination" class="pt-6 flex justify-center">
    <div class="join self-center">
        <button class="join-item btn btn-primary hover:bg-primary">1</button>
        <button class="join-item btn hover:bg-primary">2</button>
        <button class="join-item btn hover:bg-primary">3</button>
        <button class="join-item btn hover:bg-primary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
        </button>
    </div>
</div>