<header id="header" class="flex items-center p-3 md:p-4 lg:p-6">
    <div>
        <h2 class="text-2xl lg:text-3xl flex flex-row items-center gap-6">
            <span class="">Pyrgus alveus (Hübner, 1802)</span>
        </h2>
        <p class="mt-2">ID: GBIFCH-BOL_LEPAA_0989</p>
    </div>
</header>
<div id="record status results" class="p-3 md:p-4 lg:p-6">
    <div role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span class="text-sm">Failed to encode attribute 'family'. The value 'Lycaenidaeae' could not be found.<br>
        Encoded on 01/01/2024 with catalogue XYZ.</span>
    </div>
</div>

<div class="p-3 md:p-4 lg:p-6">
    <h3 class="font-medium">Record</h3>
    <dl class="divide-y divide-base-300 mt-4">
        <div class="grid grid-cols-3 text-sm py-2 leading-6">
            <dt class="font-medium">Imported</dt>
            <dd class="col-span-2">07/19/2016</dd>
        </div>
        <div class="grid grid-cols-3 text-sm py-2 leading-6">
            <dt class="font-medium">Updated</dt>
            <dd class="col-span-2">12/15/2023</dd>
        </div>
        <div class="grid grid-cols-3 text-sm py-2">
            <dt class="font-medium">Institution</dt>
            <dd class="col-span-2">
                <a href="#" class="link link-primary">
                    Muséum d'histoire naturelle de Neuchâtel – MHNN (Code: MHNN)
                </a>
            </dd>
        </div>
        <div class="grid grid-cols-3 text-sm py-2">
            <dt class="font-medium">Dataset</dt>
            <dd class="col-span-2">MHNN Neuchâtel: Entomological Collection (Code: MHNN-INSECTA)</dd>
        </div>
        <div class="grid grid-cols-3 text-sm py-2">
            <dt class="font-medium">Encoding</dt>
            <dd class="col-span-2">
                <div>Succeeded GBIF.org (Initiated by XXX on ZZZ)</div>
                <div>Failed GBIF.ch (Initiated by XXX on ZZZ)</div>
            </dd>
        </div>
        <div class="grid grid-cols-3 text-sm py-2">
            <dt class="font-medium">Publication</dt>
            <dd class="col-span-2">Published (By InfoSpecies on 12/14/2023)</dd>
        </div>
    </dl>
</div>

<div class="p-3 md:p-4 lg:p-6">
    <div id="gallery" class="carousel space-x-4 rounded-box">
        <div class="carousel-item relative">
            <div class="absolute bottom-2 left-2 text-xs bg-base-100 p-2 rounded-lg">© 2021 MHNN Neuchâtel</div>
            <img src="https://www.ufz.de/export/data/global/127231_Pyrgus%20alveus_OS_Ernst%20Brockmann%20(2).jpg" class="rounded-box max-h-[300px] w-auto" />
        </div>
        <div class="carousel-item relative">
            <div class="absolute bottom-2 left-2 text-xs bg-base-100 p-2 rounded-lg">© 1999 A. Wallendecker</div>
            <img src="https://lepiforum.org/bh/personen/ernst_brockmann_8/Pyrgus_alveus_alveus_usm1.jpg" class="rounded-box max-h-[300px] w-auto" />
        </div>
        <div class="carousel-item relative">
            <div class="absolute bottom-2 left-2 text-xs bg-base-100 p-2 rounded-lg">© 2011 C. Siegenthaler</div>
            <img src="https://static.wixstatic.com/media/973a2b_e8ea8bda83444d87ba84a5b5e522799c~mv2_d_1200_1500_s_2.jpg/v1/fill/w_560,h_700,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/973a2b_e8ea8bda83444d87ba84a5b5e522799c~mv2_d_1200_1500_s_2.jpg" class="rounded-box max-h-[300px] w-auto" />
        </div>
        <div class="carousel-item relative">
            <div class="absolute bottom-2 left-2 text-xs bg-base-100 p-2 rounded-lg">© 2023 R. Verheyen</div>
            <img src="https://thumbs.dreamstime.com/b/closeup-large-grizzled-skipper-pyrgus-alveus-spread-wings-purple-thistle-flower-natural-closeup-large-292017011.jpg" class="rounded-box max-h-[300px] w-auto" />
        </div>
    </div>
</div>

<div class="p-3 md:p-4 lg:p-6">
    <h3 class="font-medium">Summary</h3>
    <dl class="divide-y divide-base-300 mt-4">
        <div class="grid grid-cols-3 text-sm py-2 leading-6">
            <dt class="font-medium">Scientific name</dt>
            <dd class="col-span-2">
                <div><i>Pyrgus alveus</i> (Hübner, 1802) <div class="badge badge-success">Encoded</div></div>
                <div>Pyrgus alveus (Hübner, 1803) <div class="badge badge-neutral">Original</div></div>
            </dd>
        </div>
        <div class="grid grid-cols-3 text-sm py-2 leading-6">
            <dt class="font-medium">Updated</dt>
            <dd class="col-span-2">12/15/2023</dd>
        </div>
        <div class="grid grid-cols-3 text-sm py-2">
            <dt class="font-medium">Institution</dt>
            <dd class="col-span-2">Muséum d'histoire naturelle de Neuchâtel – MHNN</dd>
        </div>
        <div class="grid grid-cols-3 text-sm py-2">
            <dt class="font-medium">Dataset</dt>
            <dd class="col-span-2">MHNN Neuchâtel: Entomological Collection (MHNN-INSECTA)</dd>
        </div>
        <div class="grid grid-cols-3 text-sm py-2">
            <dt class="font-medium">Encoding</dt>
            <dd class="col-span-2">
                <div>Succeeded GBIF.org (Initiated by XXX on ZZZ)</div>
                <div>Failed GBIF.ch (Initiated by XXX on ZZZ)</div>
            </dd>
        </div>
        <div class="grid grid-cols-3 text-sm py-2">
            <dt class="font-medium">Publication</dt>
            <dd class="col-span-2">Published (By InfoSpecies on 12/14/2023)</dd>
        </div>
    </dl>
</div>