<div id="main stats" class="p-3 md:p-4 lg:p-6 hidden md:inline">
    <div id="stats" class="grid grid-cols-1 md:grid-cols-2 gap-2 lg:grid-cols-5">
        <a class="stat cursor-pointer gap-2 rounded-md bg-primary">
            <div class="stat-title text-black">All records</div>
            <div class="stat-value">100%</div>
            <div class="stat-desc">1'762 records</div>
            <div class="stat-actions">Show</div>
        </a>
        <a class="stat cursor-pointer gap-2 rounded-md hover:bg-base-content/[0.1] bg-base-content/[0.03]">
            <div class="stat-title">Not Encoded</div>
            <div class="stat-value">24%</div>
            <div class="stat-desc">421 records</div>
            <div class="stat-actions">Show</div>
        </a>
        <a class="stat cursor-pointer gap-2 rounded-md hover:bg-base-content/[0.1] bg-base-content/[0.03]">
            <div class="stat-title">Not published</div>
            <div class="stat-value">52%</div>
            <div class="stat-desc">911 records</div>
            <div class="stat-actions">Show</div>
        </a>
        <a class="stat cursor-pointer gap-2 rounded-md hover:bg-base-content/[0.1] bg-base-content/[0.03]">
            <div class="stat-title">Records with issues</div>
            <div class="stat-value">2%</div>
            <div class="stat-desc">35 records</div>
            <div class="stat-actions">Show</div>
        </a>
    </div>
</div>