<div class="p-3 md:p-4 lg:p-6 overflow-x-auto">
    <table class="table table-auto w-100">
        <thead>
            <tr>
                <th><div class="flex">institutionCode</div></th>
                <th><div class="flex">catalogNumber</div></th>
                <th><div class="flex">recordNumber</div></th>
                <th><div class="flex">recordedBy</div></th>
                <th><div class="flex">georeferenceVerificationStatus</div></th>
                <th><div class="flex">otherCatalogNumbers</div></th>
                <th><div class="flex">BLG_NUMMER</div></th>
                <th><div class="flex">eventDate</div></th>
                <th><div class="flex">verbatimEventDate</div></th>
                <th><div class="flex">habitat</div></th>
                <th><div class="flex">verbatimLocality</div></th>
                <th><div class="flex">verbatimElevation</div></th>
                <th><div class="flex">verbatimCoordinates</div></th>
                <th><div class="flex">decimalLatitude</div></th>
                <th><div class="flex">decimalLongitude</div></th>
                <th><div class="flex">verbatimIdentification</div></th>
                <th><div class="flex">typeStatus</div></th>
                <th><div class="flex">identifiedBy</div></th>
                <th><div class="flex">Encoding</div></th>
                <th><div class="flex">Publication</div></th>
            </tr>
        </thead>
        <tbody>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td><div class="flex items-center gap-1">BERN</div></td>
                <td><div class="flex items-center gap-1">BERN-0065009</div></td>
                <td><div class="flex items-center gap-1">n.s.</div></td>
                <td><div class="flex items-center gap-1">Sutter Ruben</div></td>
                <td><div class="flex items-center gap-1">verified by contributor</div></td>
                <td><div class="flex items-center gap-1">Q96409968</div></td>
                <td><div class="flex items-center gap-1">n.s.</div></td>
                <td><div class="flex items-center gap-1">1958-06-08</div></td>
                <td><div class="flex items-center gap-1">8.VI.1958</div></td>
                <td><div class="flex items-center gap-1">crevices ass. with Alyssum spinosum</div></td>
                <td><div class="flex items-center gap-1">Pic Saint-Loup (Nordhang 620 m) (Felsspalten ass. mit Alyssum spinosum)</div></td>
                <td><div class="flex items-center gap-1">620 m</div></td>
                <td><div class="flex items-center gap-1">n.s.</div></td>
                <td><div class="flex items-center gap-1">n.s.</div></td>
                <td><div class="flex items-center gap-1">n.s.</div></td>
                <td><div class="flex items-center gap-1">Hieracium amplexicaule L. x H. stelligerum Froel.</div></td>
                <td><div class="flex items-center gap-1">Syntypus</div></td>
                <td><div class="flex items-center gap-1">Anne Morel</div></td>
                <td><div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Encoded</div>
                </div></td>
                <td><div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Published</div>
                </div></td>
            </tr>
        </tbody>
    </table>
</div>