<div class="p-3 md:p-4 lg:p-6 overflow-x-auto">
    <table class="table table-auto w-100">
        <thead>
            <tr>
                <th>
                <div class="flex">Scientific name</div>
                </th>
                <th>
                <div class="flex">Encoding</div>
                </th>
                <th>
                <div class="flex">Publication</div>
                </th>
                <th>
                <div class="flex">Country or area</div>
                </th>
                <th>
                <div class="flex">Coordinates</div>
                </th>
                <th>
                <div class="flex">Year & month</div>
                </th>
                <th>
                <div class="flex">Occurrence status</div>
                </th>
                <th>
                <div class="flex">Basis of record</div>
                </th>
                <th>
                <div class="flex">Family</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Opsilia coerulescens</span>
                    <span class="italic">(Hecq & Neuray, 1993)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Encoded</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Published</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    Switzerland
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    46.7N, 6.6E
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    2018 June
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    Present
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    Preserved specimen
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    Cerambycidae
                </div>
                </td>
            </tr>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Chlorophorus sartor</span> <span class="italic">(Müller, 1766)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Encoded</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Published</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">Switzerland</div>
                </td>
                <td>
                <div class="flex items-center gap-1">46.7N, 6.6E</div>
                </td>
                <td>
                <div class="flex items-center gap-1">2018 June</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Present</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Preserved specimen</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Cerambycidae</div>
                </td>
            </tr>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Phytoecia cylindrica</span> <span class="italic">(Linnaeus, 1758)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-base-300 pl-4 pr-4 pt-2 pb-2 inline-block">Not encoded</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-base-300 pl-4 pr-4 pt-2 pb-2 inline-block">Not approved</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">Switzerland</div>
                </td>
                <td>
                <div class="flex items-center gap-1">47.2N, 7.1E</div>
                </td>
                <td>
                <div class="flex items-center gap-1">2017 May</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Present</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Preserved specimen</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Cerambycidae</div>
                </td>
            </tr>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Lycaena helle</span> <span class="italic">(Denis & Schiffermüller, 1775)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Encoded</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-info pl-4 pr-4 pt-2 pb-2 inline-block">In Review</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">Switzerland</div>
                </td>
                <td>
                <div class="flex items-center gap-1">47.1N, 7.0E</div>
                </td>
                <td>
                <div class="flex items-center gap-1">2016 May</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Present</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Preserved specimen</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Lycaenidae</div>
                </td>
            </tr>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Adscita statices</span> <span class="italic">(Linnaeus, 1758)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Encoded</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Published</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">Switzerland</div>
                </td>
                <td>
                <div class="flex items-center gap-1">46.8N, 6.5E</div>
                </td>
                <td>
                <div class="flex items-center gap-1">2016 June</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Present</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Preserved specimen</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Zygaenidae</div>
                </td>
            </tr>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Cupido osiris</span> <span class="italic">(Meigen, 1829)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Encoded</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Published</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">Switzerland</div>
                </td>
                <td>
                <div class="flex items-center gap-1">46.3N, 7.1E</div>
                </td>
                <td>
                <div class="flex items-center gap-1">2016 July</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Present</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Preserved specimen</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Lycaenidae</div>
                </td>
            </tr>
            <tr class="font-normal bg-primary group">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Pyrgus alveus</span> <span class="italic">(Hübner, 1802)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1 cursor-help tooltip rounded-xl" data-tip="Family: 'Lycaenidaeae' not found.">
                    <div class="text-sm rounded-xl bg-error pl-4 pr-4 pt-2 pb-2 cursor-help text-error-content">Failed</div>
                    <div class="rounded-xl bg-base-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                    </svg>
                    </div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Published</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">Switzerland</div>
                </td>
                <td>
                <div class="flex items-center gap-1">46.6N, 10.2E</div>
                </td>
                <td>
                <div class="flex items-center gap-1">2016 July</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Present</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Preserved specimen</div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    Lycaenidaeae
                    <div class="bg-red-200 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                    </svg>
                    </div>
                </div>
                </td>
            </tr>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Polyommatus amandus</span> <span class="italic">(Schneider, 1792)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Encoded</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Published</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">Switzerland</div>
                </td>
                <td>
                <div class="flex items-center gap-1">46.7N, 10.1E</div>
                </td>
                <td>
                <div class="flex items-center gap-1">2016 July</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Present</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Preserved specimen</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Lycaenidae</div>
                </td>
            </tr>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Pyrgus warrenensis</span> <span class="italic">(Verity, 1928)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Encoded</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Published</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">Switzerland</div>
                </td>
                <td>
                <div class="flex items-center gap-1">46.6N, 10.1E</div>
                </td>
                <td>
                <div class="flex items-center gap-1">2016 July</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Present</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Preserved specimen</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Hesperiidae</div>
                </td>
            </tr>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Pyrgus malvoides</span> <span class="italic">(Elwes & Edwards, 1897)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Encoded</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Published</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">Switzerland</div>
                </td>
                <td>
                <div class="flex items-center gap-1">46.3N, 7.1E</div>
                </td>
                <td>
                <div class="flex items-center gap-1">2016 July</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Present</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Preserved specimen</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Hesperiidae</div>
                </td>
            </tr>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection-sidepanel.html'">
                <td>
                <div class="flex items-center gap-1">
                    <span class="font-medium">Pyrgus andromedae</span> <span class="italic">(Wallengren, 1853)</span>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Encoded</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">
                    <div class="text-sm rounded-xl bg-success pl-4 pr-4 pt-2 pb-2 inline-block text-success-content">Published</div>
                </div>
                </td>
                <td>
                <div class="flex items-center gap-1">Switzerland</div>
                </td>
                <td>
                <div class="flex items-center gap-1">46.3N, 7.2E</div>
                </td>
                <td>
                <div class="flex items-center gap-1">2016 July</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Present</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Preserved specimen</div>
                </td>
                <td>
                <div class="flex items-center gap-1">Hesperiidae</div>
                </td>
            </tr>    
        </tbody>
    </table>
</div>