<div class="p-3 md:p-4 lg:p-6 overflow-x-auto">
    <table class="table table-auto w-100">
        <thead>
            <tr>
                <th>
                    <div class="flex">Collection name</div>
                </th>
                <th>
                    <div class="flex">Type</div>
                </th>
                <th>
                    <div class="flex">Institution</div>
                </th>
                <th>
                    <div class="flex">Status</div>
                </th>
                <th>
                    <div class="flex">Records count / est.</div>
                </th>
                <th>
                    <div class="flex">Last update</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="hover:bg-base-300 group font-normal cursor-pointer" onclick="window.location='collection.html'">
                <td>
                    <a class="flex items-center gap-1" href="collection.html">
                        MHNN Neuchâtel: Entomological Collection
                    </a>
                </td>
                <td>
                    <div class="flex items-center gap-1">
                        Zoology
                    </div>
                </td>
                <td>
                    <div class="">
                        Muséum d'histoire naturelle de Neuchâtel – MHNN
                        <a class="ml-2 btn btn-xs btn-outline border-base-300">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-3 h-3">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                            </svg>                
                        </a>
                    </div>
                </td>
                <td>
                    <div class="flex flex-col  gap-1">
                        <span>In Progress</span>
                        <progress class="progress progress-primary w-[250px]" value="1287" max="30000"></progress>
                    </div>
                </td>
                <td>
                    <div class="flex items-center gap-1">
                        1'287 / 30'000
                    </div>
                </td>
                <td>
                    <div class="flex items-center gap-1">
                        11th December 2023
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>